.sidebar {
    flex: 0 0 320px;
    padding: 0 15px 0 0;
    text-align: right;
}
.content {
    max-width: 1024px;
    min-width: 768px;
}
.about {
    margin-top: 120px;
}
h2 {
    color: #939393;
    font-size: 1rem;
    margin: 20px 0 15px 0;
}
.button-links {
    margin-right: 10px;
}
.button-links a:hover {
    text-decoration: none;   
}
.page-divider {
    margin-top: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #6bc1ff;
    width: 100%;
}
.container-fluid {
    padding-left: 0px;
}
.row.header-row {
    font-weight: 600;
    color: #727272;
}
.row {
    color: #939393;
}
.exp-timeline {
    color: #939393;
    margin-right: 30px;
    line-height: 1.5;
}
.seperator {
    padding-top: 20px;
}
.csl {
    color: #939393;
}
.row-page {
    padding: 10px;
    margin: 15px 0 0 0;
}
.watermark {
    opacity: 0.5;
    position: relative;
    font-size: 50;
    overflow: hidden;
    z-index: 10;
    top: 0;
    margin-top: -50px;
    color: #cccccc;
}

@media print
{
    .row {
        color: black;
    }
    a {
        text-decoration: none !important;
        color: black;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
    .sidebar.no-print {
        flex: 0 0 0;
        padding: 0;
    }
    .sidebar {
        flex: 0 0 170px;
        color: #939393;
    }
    .about {
        margin-top: 0;
    }
    .content {
        width: 100%;
        max-width: unset;
        min-width: unset;
        padding: 0;
    }
    .skills {
        page-break-before: always;
    }
    .watermark {
        display: none;
    }
    .page-divider {
        border-color: black;
    }
    .page-divider {
        border-color: black;
    }
    .new-page {
        page-break-before: always;
    }
}
